<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=7orQb6L442IbNk80oQOxkvHGr7ZtWcxg"></script>
    <!-- <script src="../node_modules/echarts/dist/echarts.min.js"></script> -->
    <!-- <script src="../node_modules/echarts/dist/extension/bmap.js"></script> -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <title>PowerWeb</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but PowerWeb doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
