<template>
  <div>
    <!-- <HelloWorld></HelloWorld> -->
    <directchart></directchart>
    <!-- <mapchart></mapchart> -->
      <!-- <MqttClient  style="font-size: 12px"></MqttClient> -->
    <!-- <ApiClient></ApiClient> -->
  </div>
</template>

<style>
.chart {
  height: 800px;
  width: 800px;
}
</style>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld'
import mapchart from '@/components/map'
import directchart from '@/components/puremap'

export default {
    name: 'home',
    components: {
        HelloWorld,
        mapchart,
        directchart
    }
}
</script>
